@using XDetroit.WebFrontend.Dal
@using XDetroit.WebFrontend.Models
@model VmCategoriesIndex

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create Category", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>

    @foreach (ItemCategory item in Model.Categories)
    {
        <tr>
            <td>@item.Name</td>
            <td>@Html.ActionLink("GO", "Index", "Products", new { categoryId = item.Id }, new { @class = "btn btn-default btn-xs" })</td>
        </tr>
    }
</table>
